@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 0.5s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --seashell: #FFF4EB;
    --wheat: #F6E0B6;
    --powderblue: #A6BCC9;
    --frenchblue: #3E4B8E;
    --midnightviolet: #3D1534;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-seashell: var(--seashell);
  --color-wheat: var(--wheat);
  --color-powderblue: var(--powderblue);
  --color-frenchblue: var(--frenchblue);
  --color-midnightviolet: var(--midnightviolet);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --seashell: #FFF4EB;
    --wheat: #F6E0B6;
    --powderblue: #A6BCC9;
    --frenchblue: #27478B;
    --midnightviolet: #3D1534;
  }
}

body {
  background: var(--seashell);
  color: var(--foreground);
  color: var(--seashell);
  color: var(--wheat);
  color: var(--powderblue);
  color: var(--frenchblue);
  color: var(--midnightviolet);
  
  font-family: Arial, Helvetica, sans-serif, inter, playfair;
}
